celery==4.3.0
Django==2.1.5
django-celery-beat==1.4.0
django-celery-results==1.0.4
django-filter==2.1.0
django-localflavor==2.1
django-material==1.4.3
SQLAlchemy==1.3.3
holidays==0.9.10
Faker==1.0.2
django-guardian==1.5.1
