{% extends 'base.html' %}
{% load material_form %}

{% block content %}
    <div class="content container">
        <div class="row">
            <h3>Case {{ case_number }} created</h3>
        </div>
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                Case {{ case_number }} created and assigned to {{ prosecutor }}, {{ secretary }}, and {{ supervisor }}.
                <br /><br />
                Deadline to file a witness list has been created and is due on <b>{{ witness_deadline }}</b>.
                <br /><br />
                <input type="submit" name="_submit" class="btn" value="Continue">
            </form>
        </div>
    </div>
{% endblock %}
