{% extends 'base.html' %}
{% load material_form %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<title> ReminderBot Dashboard </title>

<style>
       html{
            background-image: url("{% static 'background.jpeg' %}");
            min-height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        nav{
            background: rgba(0,0,0,.8)
        }
        .login {
            margin-top: 100px;
        }
        .login .card{
            background: rgba(255, 255, 255, .4)
        }
</style>

{% endblock %}

{% block content %}
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo right">{{ user }}</a>
    </div>
</nav>

<nav>
    <div class="nav-wrapper">
        <ul class="right">
            <li>|</li>
            <li>
                <a href="{% url 'logout' %}" class="right">
                    <button class="btn-large">logout</button>
                </a>
            </li>
            <li>|</li>
        </ul>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down">
            <li>|</li>
            <li>
                <form action='create' method='GET'>
                    <button type='submit' class="btn-large">New Case</button>
                </form>
            </li>
            <li>|</li>
            <li>
                <form action='motion' method='GET'>
                    <button type='submit' class="btn-large">New Motion</button>
                </form>
            </li>
            <li>|</li>
            <li>
                <form action='update' method='GET'>
                    <button type='submit' class="btn-large">Update</button>
                </form>
            </li>
            <li>|</li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col m4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Pending Deadlines</span>
            </div>
            <div class="card-action">
                <ul class="collection">
                    {% for deadline in object_list %}
                    <li class="collection-item">{{ deadline.datetime.date }} - {{ deadline }} on case {{ deadline.case.case_number }}</li>
                    {% empty %}
                    <li class="collection-item">No cases yet</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}