{% extends 'base.html' %}
{% load material_form %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<title> ReminderBot Dashboard </title>

<style>
       html{
           background: darkcyan;
        }

        nav{
            background: rgba(0,0,0,.8)
        }
        .login {
            margin-top: 100px;
        }
        .login .card{
            background: rgba(255, 255, 255, .4)
        }
</style>

{% endblock %}

{% block content %}

<nav>
    <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><a href="{% url 'remind:create-case' %}">Create Case</a></li>
            <li><a href="{% url 'remind:create-motion' %}">Create Motion</a></li>
            <li><a href="{% url 'remind:update-case' %}">Update Case Deadlines</a></li>
            <li><a href="{% url 'remind:enter-sched' %}">Enter Scheduling Order</a></li>
        </ul>
        <ul class="right">
            <li><i class="material-icons">account_circle</i></li>
            <li><a class="disabled">{{ user }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
</nav>

{#  TODO Rule list call goes here  #}
{#   <div id="react">#}
{#        <!-- Contents get replaced by mounted React.Component -->#}
{#   </div>#}
    <div id="root">
        <!-- Contents get replaced by mounted React.Component -->
        <i class="fa fa-lg fa-spinner fa-spin"></i><br><br>
        <i class="pending">Loading components...</i><br><br>
<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'remind:create-case' %}">Create Case</a></li>
    <li><a href="{% url 'remind:create-motion' %}">Create Motion</a></li>
    <li><a href="{% url 'remind:update-case' %}">Update Case Deadlines</a></li>
    <li><a href="{% url 'remind:enter-sched' %}">Enter Scheduling Order</a></li>
</ul>

<div class="row">
    <div class="col m4">
        <div class="card blue-grey">
            <div class="card-content white-text">
                <span class="card-title">Pending Deadlines</span>
            </div>
            <div class="card-action">
                <ul class="collection">
                    {% for deadline in object_list %}
                        <li class="collection-item">{{ deadline.datetime.date }} - {{ deadline }} on case {{ deadline.case.case_number }}</li>
                    {% empty %}
                        <li class="collection-item">No deadlines yet</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script>
        {#window.props = {{props|json}};  // make sure to escape your props to prevent XSS! See here for the source for the json filter: https://gist.github.com/pirate/c18bfe4fd96008ffa0aef25001a2e88f#}
        window.react_mount = document.getElementById('root');
    </script>
    <script src="/static/src/{{component}}"></script>

</div>

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>
{% endblock %}