{% extends 'base.html' %}
{% load material_form %}

{% block content %}
    <div class="content container">
        <div class="row">
            <h3>Did you file a response to this motion?</h3>
        </div>
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                Title: {{ motion_title }} <br />
                Case: {{ case_number }} <br />
                Type: {{ motion_type }} <br />
                Filing Date: {{ date_received }} <br />
                {% form form=form %}{% endform %}
                <button class="btn" onclick="window.location.href = `/remind/`;
                return false;">Back</button>
                <button type="submit" name="_submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

{% endblock %}