{% extends 'base.html' %}
{% load material_form %}

{% block content %}
    <div class="content container">
        <div class="row">
            <h3>Reassign cases</h3>
        </div>
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                {# <!-- TODO Special rendering with headers --> #}
                <div style="margin: 2% 0; font-weight:bold">{{ user_has_no_cases }}</div>
                <button class="btn" onclick="window.location.href = {% url 'remind:dashboard' %};;
                return false;">Back</button>
                <button type="submit" name="_submit" class="btn">Submit</button>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

{% endblock %}
