{% extends 'base.html' %}
{% load material_form %}
{% load custom_tags %}

{% block content %}
<div class="content container">
    <div class="row">
        <h3>Updating case {{ case_number }}</h3>
    </div>
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% if forloop.counter0 is 0 %}
                    <div class="row">
                    <h4>Case Information</h4>
                    </div>

                    {# Judge selection dropdown #}
                    <dmc-select><div class="row">
                    <div class="select-field col s8" id="id_judge_container">
                        <label for={{ field.id_for_label }}>{{field.label}}</label>
                        <select id={{ field.id_for_label }} name={{ field.name }}>
        	            {% for choice in judges %}
        		            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
    		            {% endfor %}
		                </select>
                    </div>
                    </div></dmc-select>

                    {# Defense attorney field #}
                    {% elif forloop.counter0 is 1 %}
                    <dmc-select><div class="row">
                    <div class="select-field col s8" id="id_defense_attorney_container">
                        <label for={{ field.id_for_label }}>{{field.label}}</label>
                        <select id={{ field.id_for_label }} name={{ field.name }}>
        	            {% for choice in defense_attorneys %}
        		            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
    		            {% endfor %}
		                </select>
                    </div>
                    </div></dmc-select>

                    {# "Deadlines" header #}
                    <div class="row">
                    <h4>Deadlines</h4>
                    </div>

                    {# "Override invalid date" checkbox (shown at bottom) #}
                    {% elif forloop.counter is override_index %}
                    <div class="row">
                    <label>
                            <div class="checkbox-field col s6">
                            <input class="filled-in " id={{field.id_for_label}} name={{field.name}} type="checkbox"
                            ><span
                                for={{next_field.id_for_label}}>Override invalid dates?</span>
                            </div>
                    </label>
                    </div>

                {% else %}

                    {% if forloop.counter0|divisibleby:2 %}

                        <div class="row">

                        {# Deadline datetime picker #}
                            <dmc-datetime>
                            <div class="input-field col s6">
                                <label for={{ field.id_for_label }}>{{field.label}}</label>
                                <input data-date-format="Y-m-d H:i"
                                       data-form-control="datetime"
                                       data-lang="en"
                                       id={{field.id_for_label}}
                                       name={{field.name}}
                                       type="text"
                                       value="{{field.initial|date:'Y-m-d H:i'}}"
                                       {% if disabled|index:forloop.counter0 %}
                                           disabled
                                       {% endif %}>

                                {% for error in field.errors %}
                                    <p style="color: red; font-size: 10px"> {{ error }} </p>
                                {% endfor %}
                            </div>
                            </dmc-datetime>

                        {# "Completed?" Checkbox #}
                            {% with next_field=form|next:forloop.counter0 %}
                            <label>
                            <div class="checkbox-field col s6">

                                <input class="filled-in "
                                   id={{next_field.id_for_label}}
                                   name={{next_field.name}}
                                {% if hidden|index:forloop.counter0  %}
                                   type="hidden"
                                {% else %}
                                   type="checkbox"
                                {% endif %}

                                {% if disabled|index:forloop.counter0 %}
                                   checked disabled
                                {% endif %}>

                                <span for={{next_field.id_for_label}}>
                                {% if hidden|index:forloop.counter0  %}
                                    <sub>This is an event, you do not need to complete it.</sub>
                                {% else %}
                                    Completed?
                                {% endif %}</span>
                            </div>
                            </label>
                            {% endwith %}

                    </div>

                    {% endif %}
                {% endif %}
            {% endfor %}

            {# Back button #}
            <button class="btn" onclick="window.location.href = {% url 'remind:dashboard' %};;
            return false;">Back</button>

            {# Submit button #}
            <button type="submit" name="_submit" class="btn">Submit</button>

        </form>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
</script>

{% endblock %}
