{% extends 'base.html' %}
{% load material_form %}
{% load custom_tags %}

{% block content %}
<div class="content container">
    <div class="row">
        <h3>Updating case {{ case_number }}</h3>
    </div>
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% if forloop.counter0 is 0 %}
                    <div class="row">
                    <h4>Case Information</h4>
                    </div>
                    <dmc-select><div class="row">
                    <div class="select-field col s8" id="id_judge_container">
                        <label for={{ field.id_for_label }}>{{field.label}}</label>
                        <select id={{ field.id_for_label }} name={{ field.name }}>
        	            {% for choice in judges %}
        		            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
    		            {% endfor %}
		                </select>
                    </div>
                    </div></dmc-select>
                    {% elif forloop.counter0 is 1 %}
                    <div class="row">
                            <div class="input-field col s8">
                                <label for={{ field.id_for_label }}>{{field.label}}</label>
                            <input type="text" id={{ field.id_for_label }} name={{ field.name }} value="{{ field.initial }}">
                            </div>
                    </div>
                    <div class="row">
                    <h4>Deadlines</h4>
                    </div>

                    {% elif forloop.counter is override_index %}
                    <div class="row">
                    <label>
                            <div class="checkbox-field col s6">
                            <input class="filled-in " id={{field.id_for_label}} name={{field.name}} type="checkbox"
                            ><span
                                for={{next_field.id_for_label}}>Override invalid dates?</span>
                            </div>
                    </label>
                    </div>
                {% else %}

                    {% if forloop.counter0|divisibleby:2 %}
                        {% with next_field=form|next:forloop.counter0 %}
                        <div class="row">
                            <dmc-datetime>
                        <div class="input-field col s6">
                            <label for={{ field.id_for_label }}>{{field.label}}</label>
                            <input data-date-format="Y-m-d H:i" data-form-control="datetime" data-lang="en"
                                id={{field.id_for_label}} name={{field.name}} type="text" value="{{field.initial}}"
                            {% if disabled|index:forloop.counter0 %} disabled{% endif %}>
                            {% for error in field.errors %}
                                <p style="color: red; font-size: 10px"> {{ error }} </p>
                                {% endfor %}
                        </div>
                            </dmc-datetime>
                        <label>
                            <div class="checkbox-field col s6">
                            <input class="filled-in " id={{next_field.id_for_label}} name={{next_field.name}} type="checkbox"
                             {% if disabled|index:forloop.counter0 %} checked disabled{% endif %}><span
                                for={{next_field.id_for_label}}>Completed?</span>
                            </div>
                        </label>
                    </div>
                        {% endwith %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <button type="submit" name="_submit" class="btn">Submit</button>
        </form>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
</script>

{% endblock %}
