<!DOCTYPE html>
<link href="/static/material/fonts/material-design-icons/material-icons.css" rel="stylesheet">
<link href="/static/material/fonts/roboto/style.css" rel="stylesheet">

<link href="/static/material/css/materialize.css" rel="stylesheet">
<link href="/static/material/css/materialize.forms.css" rel="stylesheet">
<link href="/static/material/css/jquery.datetimepicker.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet" >

<script src="/static/material/js/custom-elements.min.js"></script>
<script src="/static/material/js/materialize.components.js"></script>
<script src="/static/material/js/jquery.js"></script>
<script src="/static/material/js/jquery.datetimepicker.full.js"></script>
<script src="/static/material/js/jquery.formset.js"></script>
<script src="/static/material/js/materialize.js"></script>

<html>
    <head>
        <title>Reminders</title>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
