{% extends 'base.html' %}
{% load material_form %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
<title> ReminderBot Login Sign Up </title>
<!--Add CSS Style-->
<style>
       html{
            background-image: url("{% static 'background.jpeg' %}");
            min-height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        nav{
            background: rgba(0,0,0,.8)
        }
        .login {
            margin-top: 100px;
        }
        .login .card{
            background: rgba(255, 255, 255, .4)
        }




</style>

{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="row login">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'logo.png' %}">
            </div>

            <div class="card-content">

                <div class="form-field center-align">
                    <a href="{% url 'remind:dashboard' %}">
                        <button type="submit" class="btn-large">Dashboard</button>
                    </a>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>

{% else %}

<div class="row login">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'logo.png' %}">
            </div>

            <div class="card-content">

                <div class="form-field center-align">
                    <a href="{% url 'login' %}">
                        <button type="submit" class="btn-large">Login</button>
                    </a>
                    <a href="{% url 'signup' %}">
                        <button type="submit" class="btn-large">Sign Up</button>
                    </a>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
