{% extends 'base.html' %}
{% load material_form %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block head %}
    <title> ReminderBot Login </title>
    <!--Add CSS Style-->
    <style>
       html{
            background-image: url("{% static 'background.jpeg' %}");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .signup {
            margin-top: 100px;
        }
        .signup .card{
            background: rgba(255, 255, 255, .8)
        }
        .signup label{
            font-size: 16px;
            color:black;
        }
        .signup input{
            font-size: 22px;
            color: black;
        }
    </style>

{% endblock %}

{% block content %}

<div class="row signup">
    <div class="col s8 offset-s2">
        <div class="card">

            <div class="card-action center-align">
                <h3>Sign Up</h3>
            </div>

            <div class="card-content">

                <div class="row">
                    <form method="post">
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <button type="submit" name="_submit" class="btn">Sign up</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script
        type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
</script>

{% endblock %}